# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_7_11.xml
.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_7_11.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_2_0_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_0_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_2_0_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_0_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_2_0_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_test_2_0_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_2_0_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_data_spring_data_commons_2_0_7_RELEASE.xml
.idea/libraries/Maven__org_springframework_data_spring_data_mongodb_2_0_7_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_aop_5_0_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_5_0_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_5_0_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_5_0_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_5_0_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jcl_5_0_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_test_5_0_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_tx_5_0_6_RELEASE.xml
